<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.NoticeMapper">
  <resultMap id="BaseResultMap" type="pojo.Notice">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ntile" jdbcType="VARCHAR" property="ntile" />
    <result column="ncontent" jdbcType="VARCHAR" property="ncontent" />
    <result column="ntime" jdbcType="TIMESTAMP" property="ntime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, ntile, ncontent, ntime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from notice
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from notice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="pojo.Notice" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into notice (ntile, ncontent, ntime
      )
    values (#{ntile,jdbcType=VARCHAR}, #{ncontent,jdbcType=VARCHAR}, #{ntime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="pojo.Notice" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ntile != null">
        ntile,
      </if>
      <if test="ncontent != null">
        ncontent,
      </if>
      <if test="ntime != null">
        ntime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ntile != null">
        #{ntile,jdbcType=VARCHAR},
      </if>
      <if test="ncontent != null">
        #{ncontent,jdbcType=VARCHAR},
      </if>
      <if test="ntime != null">
        #{ntime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.Notice">
    <!--@mbg.generated-->
    update notice
    <set>
      <if test="ntile != null">
        ntile = #{ntile,jdbcType=VARCHAR},
      </if>
      <if test="ncontent != null">
        ncontent = #{ncontent,jdbcType=VARCHAR},
      </if>
      <if test="ntime != null">
        ntime = #{ntime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.Notice">
    <!--@mbg.generated-->
    update notice
    set ntile = #{ntile,jdbcType=VARCHAR},
      ncontent = #{ncontent,jdbcType=VARCHAR},
      ntime = #{ntime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findAllNotice" resultMap="BaseResultMap">
    select *
    from notice
  </select>
</mapper>